body {

  background: linear-gradient(to right, #4CFFA3 , #21A694);
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  padding-left: 10px;
  color: #4d4d4d;
}

.kinzaleah {

  text-align: center;
  font-size: 10em;
  color: #F5409A;
  text-shadow: 2px 2px 150px #02ffc5, 2px 2px #575757;
}

.heading {

  text-align: center;
  font-size: 7em;
  color: #F5409A;
  text-shadow: 2px 2px 150px #02ffc5, 2px 2px #575757;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  text-shadow: 2px 2px 300px #02ffc5;
}

.container {
  display: flex;
  flex-flow: row wrap;
  padding-left: 20px;
  padding-right: 20px;
  text-align:center;
}

.col {
  padding-left: 20px;
  padding-right: 20px;
  flex: 1;
}

.js30 {


}

.xStitch {

}

.puplings {

}

img:hover {
  filter: brightness(105%);
}



ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: #4d4d4d;
  text-shadow: 2px 2px 300px #02ffc5;
}

li {
  list-style: none;
  font-size: 1.4em;
  font-weight: bold;
}
